<ion-view title="">
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="addReceipt()">
      <i class="icon ion-ios-camera"></i> Upload
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshReceipts()">
    </ion-refresher>
    <div class="card" ng-show="receipts.length == 0">
      <div class="item item-text-wrap item-calm">
        Upload your receipts to get recommendations for your smart shopping list!
      </div>
    </div>
    <ion-list>
      <ion-item ng-if="isUploading">(Uploading)</ion-item>
      <ion-item ng-repeat="receipt in receipts" >
        <div ng-click="receipt.active=!receipt.active;">
            <span>{{receipt.title}}</span>
            <span class="item-note">{{receipt.date | amCalendar}}</span>
            <div class="card" ng-if="receipt.active">
                <div class="item item-text-wrap">
                    <img ng-src="{{receipt.image}}" width="100%">
                </div>
            </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
