<ion-view title="">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="getPhoto()">
      <i class="icon ion-ios-camera"></i> Upload
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">

    <ion-list>
      <ion-item>(Uploading)</ion-item>
      <ion-item>
        <p>Hemkop -------------- Yesterday</p>
        <div class="card">
            <div class="item item-text-wrap">
            <img src="img/sample_receipt.jpg" width="100%">
          </div>
        </div>

      </ion-item>
      <ion-item>
        Hemkop -------------- Feb 14
      </ion-item>
      <ion-item>
        Ikea ---------------- Feb 10
      </ion-item>
      <ion-item>
        Hemkop -------------- Feb 9
      </ion-item>
      <ion-item>
        Hemkop -------------- Feb 8
      </ion-item>
      <ion-item>
        Hemkop -------------- Feb 2
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
      <ion-item>
        Hemkop -------------- Jan 12
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
