<ion-view title="">
  <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="card" ng-repeat="rec in recommendations">
            <a href="#" class="item item-text-wrap item-icon-right
                    ng-class: ['item-balanced',
                                'item-balanced',
                                'item-balanced',
                                'item-energized',
                                'item-energized',
                                'item-assertive'][rec.weight]">
                {{rec.title}}
                <i class="icon ion-compose" ng-click="addToShoppingList(rec.title)"></i>
            </a>
        </div>
  </ion-content>
</ion-view>
