<ion-view title="">
  <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="card">
            <div class="item item-text-wrap">
            <p>Milk</p>
          </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
            <p>Butter</p>
          </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
            <p>Bread</p>
          </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
            <p>Potato</p>
          </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
            <p>Shalgham</p>
          </div>
        </div>


  </ion-content>
</ion-view>
