<ion-view title="">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="clearChecked()">
      <i class="icon ion-ios-trash-outline"></i> Clear checked
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-checkbox ng-repeat="s in getShoppingList()"
        ng-model="s.checked"
        ng-model-options="{ getterSetter: true }">
          {{s.name()}}
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
